<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/svgs/7-logo-light.svg" alt="logo" width="168" height="48">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/thecards/" class="cs-link">The Cards</a>
                </li>
                <li class="cs-li">
                    <a href="/thecreator/" class="cs-link">The Creator</a>
                </li>
                <li class="cs-li">
                    <a href="/shop/" class="cs-link">Shop</a>
                </li>
                <li class="cs-li">
                    <a href="/resources/" class="cs-link">Resources</a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="https://www.facebook.com/stephen.garrett.140" class="cs-social-link" aria-label="Facebook" target="_blank" rel="noopener">
                        <svg class="cs-social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path d="M80 299.3l0 212.7 116 0 0-212.7 86.5 0 18-97.8-104.5 0 0-34.6c0-51.7 20.3-71.5 72.7-71.5 16.3 0 29.4 .4 37 1.2l0-88.7C291.4 4 256.4 0 236.2 0 129.3 0 80 50.5 80 159.4l0 42.1-66 0 0 97.8 66 0z"/>
                        </svg>
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="https://x.com/EmbraceYrDeath" class="cs-social-link" aria-label="X" target="_blank" rel="noopener">
                    <svg class="cs-social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M357.2 48L427.8 48 273.6 224.2 455 464 313 464 201.7 318.6 74.5 464 3.8 464 168.7 275.5-5.2 48 140.4 48 240.9 180.9 357.2 48zM332.4 421.8l39.1 0-252.4-333.8-42 0 255.3 333.8z"/></svg>
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="https://www.linkedin.com/in/stephengarrettnow/" class="cs-social-link" aria-label="LinkedIn" target="_blank" rel="noopener">
                    <svg class="cs-social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M100.3 448l-92.9 0 0-299.1 92.9 0 0 299.1zM53.8 108.1C24.1 108.1 0 83.5 0 53.8 0 39.5 5.7 25.9 15.8 15.8s23.8-15.8 38-15.8 27.9 5.7 38 15.8 15.8 23.8 15.8 38c0 29.7-24.1 54.3-53.8 54.3zM447.9 448l-92.7 0 0-145.6c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7l0 148.1-92.8 0 0-299.1 89.1 0 0 40.8 1.3 0c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3l0 164.3-.1 0z"/></svg>
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">
    © 2026 The Seven Languages of Sorrow | Website by 
    <a href="https://bryangreig.com" class="cs-copyright-link" target="_blank" rel="noopener">
        Bryan Greig
    </a>
</span>
        </div>
    </div>
     
</footer>
                                