<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/svgs/7-logo-light.svg" alt="logo" width="168" height="48">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/thecards/" class="cs-link">The Cards</a>
                </li>
                <li class="cs-li">
                    <a href="/thecreator/" class="cs-link">The Creator</a>
                </li>
                <li class="cs-li">
                    <a href="/shop/" class="cs-link">Shop</a>
                </li>
                <li class="cs-li">
                    <a href="/resources/" class="cs-link">Resources</a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="https://www.facebook.com/stephen.garrett.140" class="cs-social-link" aria-label="Facebook" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook-f cs-social-icon"></i>
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="https://x.com/EmbraceYrDeath" class="cs-social-link" aria-label="X" target="_blank" rel="noopener">
                    <i class="fa-brands fa-x-twitter cs-social-icon"></i>
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="https://www.linkedin.com/in/stephengarrettnow/" class="cs-social-link" aria-label="Facebook" target="_blank" rel="noopener">
                    <i class="fa-brands fa-linkedin-in cs-social-icon"></i>
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright 2026 - <a href="" class="cs-copyright-link">The Seven Languages of Sorrow</a>
            </span>
        </div>
    </div>
    
</footer>
                                