---
title: "Shop| The Seven Languages of Sorrow"
description: "Meta description for the page"
permalink: "/shop/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Shop</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/hero/hero-seven.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/hero/hero-seven.png">
        <img loading="lazy" decoding="async" src="/assets/images/hero/hero-seven.png" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                       
                                
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-2462">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex">
				<span class="cs-topper">The Cards</span>
				<h2 class="cs-title">Purchase the Seven Languages of Sorrow</h2>
			</div>
			<a href="/thecards/" class="cs-button-solid">Visit the Cards</a>
		</div>

		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/thecards/artist-front.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/thecards/artist-front.png" />
							<img loading="lazy" decoding="async" src="/assets/images/thecards/artist-front.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Artistic Expression</span>
					<h3 class="cs-h3">The Artist</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Writer-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Writer-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Writer-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Written Expression</span>
					<h3 class="cs-h3">The Writer</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Avoider-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Avoider-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Avoider-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Avoidant Expression</span>
					<h3 class="cs-h3">The Avoider</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>

			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Mover-and-Shaker-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Mover-and-Shaker-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Mover-and-Shaker-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Physical Expression</span>
					<h3 class="cs-h3">The Mover and The Shaker</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Talker-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Talker-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Talker-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Verbal Expression</span>
					<h3 class="cs-h3">The Talker</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Sensitive-One-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Sensitive-One-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Sensitive-One-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Emotional Expression</span>
					<h3 class="cs-h3">The Sensitive One</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Seeker-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Seeker-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Seeker-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Spiritual Expression</span>
					<h3 class="cs-h3">The Seeker</h3>
					<span class="cs-price">$25.00</span>
				</a>
			</li>
		</ul>
	</div>
</section>
                                
                                               

{% endblock %}