---
title: "Shop | The Seven Languages of Sorrow"
description: "Meta description for the page"
permalink: "/shop/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Shop</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/shop/shop-header.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/shop/shop-header.png">
        <img loading="lazy" decoding="async" src="/assets/images/shop/shop-header.png" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                       
                                
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-2462">
	<div class="cs-container">

<div id="cs-content-829">
    <div class="cs-flex">
        <h2 class="cs-title">Cards and Writings by Stephen Garrett</h2>
    </div>
    <p class="cs-text">
        Purchase the Seven Languages of Sorrow card set and Stephen Garrett’s book Grief’s Walking Stick. Each offering invites reflection, compassion, and a deeper understanding of grief, helping readers and loved ones honour sorrow in its many forms.
    </p>
</div>

<a href="" target="_blank" class="cs-button-solid">Purchase The Card Set</a>
                

		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/thecards/artist-front.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/thecards/artist-front.png" />
							<img loading="lazy" decoding="async" src="/assets/images/thecards/artist-front.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Artistic Expression</span>
					<h3 class="cs-h3">The Artist</h3>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Writer-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Writer-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Writer-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Written Expression</span>
					<h3 class="cs-h3">The Writer</h3>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Avoider-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Avoider-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Avoider-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Avoidant Expression</span>
					<h3 class="cs-h3">The Avoider</h3>
				</a>
			</li>

			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Mover-and-Shaker-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Mover-and-Shaker-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Mover-and-Shaker-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Physical Expression</span>
					<h3 class="cs-h3">The Mover and The Shaker</h3>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Talker-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Talker-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Talker-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Verbal Expression</span>
					<h3 class="cs-h3">The Talker</h3>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Sensitive-One-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Sensitive-One-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Sensitive-One-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Emotional Expression</span>
					<h3 class="cs-h3">The Sensitive One</h3>
				</a>
			</li>


			<li class="cs-item">
				<a href="" class="cs-link">
					<div class="cs-image-group">
						<picture class="cs-picture">
							<!--Mobile Image-->
							<source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Seeker-f.png" />
							<!--Tablet and above Image-->
							<source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Seeker-f.png" />
							<img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Seeker-f.png" alt="furniture" width="197" height="197" />
						</picture>
						<picture class="cs-icon-wrapper">
							<img class="cs-icon" loading="lazy" decoding="async" src="https://nyc3.digitaloceanspaces.com/csimages2/Images/ecommerce/bag.svg" alt="bag " width="28" height="28" />
						</picture>
					</div>
					<span class="cs-category">Spiritual Expression</span>
					<h3 class="cs-h3">The Seeker</h3>
				</a>
			</li>
		</ul>
	</div>

	<a href="" target="_blank" class="cs-button-solid">Purchase The Card Set</a>
</section>
               

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2232">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stephen Garrett's</span>
            <h2 class="cs-title">Grief's Walking Stick</h2>
            <p class="cs-text">
With profound insight and heartfelt candor, Grief's Walking Stick takes readers on a transformative journey from death and grief avoidance to embracing these inevitable parts of life. The chronicle of Rev. Stephen Garrett's evolutionary path serves as a beacon of hope and guidance for those seeking to navigate their sense of grief and loss in a more heart-centered way.
</p>
<p class="cs-text">
Filled with encouragement and practical wisdom, this book is an essential read for facing life's inevitable transitions and is an inspiring and invaluable resource for anyone looking to approach the subject of dying, death, and grief with grace and meaning.
 </p>
            <a href="https://www.amazon.com/Griefs-Walking-Stick-Personal-Journey/dp/103831433X?_encoding=UTF8&dib_tag=se&dib=eyJ2IjoiMSJ9.n9HStme_6tzmDtJF6MXiWA.IkaFB6681FeCW0XBJob3iyfwI6zjraVMSGDkuzs_vpg&qid=1738169032&sr=8-1" target="_blank" class="cs-button-solid">Buy Now</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/thecreator/griefs-book.avif">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/thecreator/griefs-book.avif">
                <img loading="lazy" decoding="async" src="/assets/images/thecreator/griefs-book.avif" alt="Grief's Walking Stick book by Stephen Garrett" width="243" height="367">
            </picture>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2273">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/shop/child-book.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/shop/child-book.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/shop/child-book.jpg" alt="wedding" width="243" height="367">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Buy the Children’s Book</span>
            <h2 class="cs-title">Tarc and the Grieving Children</h2>
            <p class="cs-text">
We all grieve differently, and this book explores the various ways that children may display their grief. It has been created to help children and families recognise their own style of grieving, and give them ideas and guidance to help them on their own grief journeys.
</p>
<p class="cs-text">
The book draws inspiration from Stephen Garrett’s Seven Languages of Sorrow, guiding children through the different ways people may express grief. Through Lorna Vyse’s thoughtful storytelling, young readers can identify their own grieving style, while Tarc provides compassionate suggestions for families to navigate loss together in an age-appropriate and supportive way, making tender conversations more accessible.
</p>
            <a href="https://www.amazon.ca/Tarc-Grieving-Children-grieve-differently/dp/1068362510/ref=asc_df_1068362510?mcid=2d02d87a54b83188bba21406340f53dc&tag=googleshopc0c-20&linkCode=df0&hvadid=770355203161&hvpos=&hvnetw=g&hvrand=11086310966508052918&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9001489&hvtargid=pla-2441717011808&psc=1&hvocijid=11086310966508052918-1068362510-&hvexpln=0&gad_source=1" target="_blank" class="cs-button-solid">Buy Now</a>
        </div>
    </div>
</section>
                                
                                


                                               

{% endblock %}