---
title: "The Seven Languages of Sorrow | Stephen Garrett"
description: "Discover The Seven Languages of Sorrow by Stephen Garrett | Insightful grief cards that help people understand, express, and honour sorrow in meaningful ways."
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css" />
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2149">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper cs-topper-head">The Seven Languages of Sorrow</span>
            <h1 class="cs-title">Guiding People Toward Meaning and Compassion in Grief</h1>
            <p class="cs-text">
               Explore the Seven Language of Sorrow cards, designed to help you recognize, express, and honour grief in your own way.
            </p>
            <a href="/thecards/" class="cs-button-solid cs-button1">Visit The Cards</a>
        </div>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero/hero-seven.png">
        <source media="(min-width: 601px)" srcset="/assets/images/hero/hero-seven.png">
        <img loading="lazy" decoding="async" src="/assets/images/hero/hero-seven.png" alt="Seven Languages of Sorrow Header" width="1920" height="907" aria-hidden="true">
    </picture>
</section>
                
                                

<!-- ============================================ -->
<!--            Side by Side Reverse              -->
<!-- ============================================ -->

<section id="sbs-2008">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture-large">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/thecards/artist-front.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/thecards/artist-front.png">
                <img loading="lazy" decoding="async" src="/assets/images/thecards/artist-front.png" alt="The Artist Card front" width="324" height="467">
            </picture>
            <picture class="cs-picture cs-picture-small">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/thecards/artist-back.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/thecards/artist-back.png">
                <img loading="lazy" decoding="async" src="/assets/images/thecards/artist-back.png" alt="The Artist Card back" width="324" height="467">
            </picture>
        </div>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">The Seven Languages of Sorrow</span>
                <h2 class="cs-title">The Story of The Cards</h2>
            </div>
            <p class="cs-text">
                About three years ago I was doing some prep work for a grief and loss class I was teaching at Rhodes Wellness College and I had this thought about Gary Chapman’s Five Love Languages he created in 1992. I remembered thinking to myself if love has languages so must its identical twin grief. 
            </p>
            <p class="cs-text">
                I set about doing some research on the grieving clients I had served over the years and I began to notice some different ways folks expressed their grief. There were seven different ‘languages’ folks used and I named them: The Talker, The Writer, The Artist, The Seeker, The Sensitive One, The Seeker, and The Avoider. 
            </p>
            <p class="cs-text">
                So, I added this unique piece of grief work to the grief and loss course I was teaching at Rhodes. It was a bit of a lump of coal, until that is, a couple of my students Jade and Haley turned it into the amazing slides show you can have a look at in the <a href="/resources/">Resource Section</a> of this site.
            </p>
             <p class="cs-text">
                The next step in the card’s evolution was a client’s wife, an artist, offered her creative art skills in barter for some grief training for her husband. The cards you see at the top of this page are a direct result of her interpretation of these seven languages and they are brilliant!
            </p>
             <p class="cs-text">
                Next step? Seven Languages of Sorrow cards for Kids!!! 
                Scroll on and thanks for visiting my website!!
            </p>
            <a href="/thecreator/" class="cs-button-solid">The Creator</a>
        </div>
        
    </div>
</section>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<div id="quote-560">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Quote</span>
            <p class="cs-quote">
                "Grief does not ask to be fixed. It asks to be witnessed, understood, and honoured in its own time."
                </p>
            <span class="cs-name">Stephen L. Garrett</span>
        </div>
    </div>
</div>
                        
                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-377">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">The Cards</span>
            <h2 class="cs-title">A language for Every Grief</h2>
            <p class="cs-text">
                Grief Speaks in many ways. The Seven Languages of Sorrow cards help individiuals recognize, understand, and honour the unique ways sorrow is expresses. Both within themselves and in others.
            </p>
        </div>
        <div class="cs-gallery">
            <a class="cs-item" href="/thecards/#artist">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Artist</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Artist-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Artist-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Artist-f.png" alt="The Artist Card" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/thecards/#writer">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Writer</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Writer-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Writer-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Writer-f.png" alt="The Writer Card" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/thecards/#avoider">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Avoider</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Avoider-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Avoider-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Avoider-f.png" alt="The Avoider Card" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/thecards/#mover">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Mover and Shaker</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Mover-and-Shaker-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Mover-and-Shaker-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Mover-and-Shaker-f.png" alt="The Mover and Shaker Card" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/thecards/#talker">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Talker</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Talker-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Talker-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Talker-f.png" alt="The Talker Card" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/thecards/#sensitive">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Sensitive One</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Sensitive-One-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Sensitive-One-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Sensitive-One-f.png" alt="The Sensitive One Card" width="305" height="400">
                </picture>
            </a>
            <a class="cs-item" href="/thecards/#seeker">
                <div class="cs-hover-box">
                    <picture class="cs-icon" aria-hidden="true">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/arrows.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">The Seeker</h3>
                </div>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/cards/front/The-Seeker-f.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/cards/front/The-Seeker-f.png">
                    <img loading="lazy" decoding="async" src="/assets/images/cards/front/The-Seeker-f.png" alt="The Seeker Card" width="305" height="400">
                </picture>
            </a>
        </div>
    </div>
</section>
                                                           
                     

   <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-68">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/thecreator/stephen-head-shot.avif">
            <source media="(min-width: 601px)" srcset="/assets/images/thecreator/stephen-head-shot.avif">
            <img loading="lazy" decoding="async" src="/assets/images/thecreator/stephen-head-shot.avif" alt="Stephen Garret Headshot" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Stephen L. Garrett</span>
            <h2 class="cs-title">Guiding Meaning and Compassion Through Grief</h2>
            <p class="cs-text">
                Stephen Garrett has experienced success in life as a teacher, investment banker, social worker, author, cremationist, Interfaith Minister, executive director of the Memorial Society of BC, grief and loss counsellor for the Campbell River Hospice Society, and in his current role as a trainer for Rhodes Wellness College in Vancouver.
            </p>
            <a class="cs-button-solid" aria-label="learn more about the creator" href="/thecreator/">Learn More</a>
        </div>
    </div>
</section>
   
 


{% endblock %}
