// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---   Side by Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2008 {
        width: 100%;
        padding: var(--sectionPadding);
        overflow: clip;
        display: flex;
        flex-direction: column;
        /* aligns content to the left, set to center to centrally align */
        align-items: flex-start;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: grid;
            justify-items: center;
            grid-auto-flow: row;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(650/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            overflow: hidden;
            color: #fff;
            border: none;
            
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0;
                height: 100%;
                background: var(--headerColor);
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            font-size: min(2.97vw, 1rem);
            width: calc(462/16 * 1em);
            height: calc(707/16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            box-sizing: border-box;
            background-color: var(--primary);
            overflow: hidden;
            border: calc(5/16 * 2em) solid var(--primary);
            border-radius: 10px;
            position: absolute;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
            }
        }

        .cs-picture-large {
            width: calc(381/16 * 1em);
            height: calc(551/16 * 1em);
            top: 0;
            left: calc(30/16 * 1em);
        }

        .cs-picture-small {
            width: calc(245/16 * 1em);
            height: calc(388/16 * 1em);
            right: 0;
            bottom: calc(0/16 * 1em);
            background-color: var(--headerColor);
            border: calc(5/16 * 2em) solid var(--headerColor);
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2008 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            justify-items: initial;
            align-items: stretch;
            grid-template-columns: repeat(2, auto);
        }

        .cs-content {
            /* 48px - 64px */
            padding: clamp(3rem, 5vw, 4rem) 0;
            grid-column: span 1;
            align-self: center;
        }

        .cs-image-group {
            height: auto;
            min-height: calc(707/16 * 1rem);
            grid-column: span 1;
        }

        .cs-picture-large {
            height: 77.934939%;
        }

        .cs-picture-small {
            height: 54.879774%;
        }

        .cs-brown {
            top: 0;
            right: 0;
        }

        .cs-glitter {
            width: calc(508/16 * 1em);
            height: calc(491/16 * 1em);
            /* 34px - 214px */
            left: calc(clamp(2.125em, 10vw, 13.375em) * -1);
        }

        .cs-logos {
            grid-column: span 2;
            order: 3;
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbs-2008 {
        .cs-logos {
            justify-content: space-between;
            gap: 0;
        }

    }
}    


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-68 {
        padding: var(--sectionPadding);
        background-color: #faf0dc;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--headerColor);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 95%;
            max-width: calc(550 / 16 * 1rem);
            margin: 0;
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 312/335;
            border-radius: calc(16 / 16 * 1rem);
            z-index: 1;

            &:before {
                /* Top right box */
                content: "";
                width: calc(160 / 16 * 1rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: #e6844e;
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
            }

            &:after {
                /* Bottom left box */
                content: "";
                width: calc(160 / 16 * 1rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: #50403a;
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                z-index: -1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: calc(16 / 16 * 1rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-68 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 9.5vw, 8rem);
        }

        .cs-picture {
            /* 328px - 502px */
            width: clamp(20.5rem, 37.5vw, 31.375rem);
            /* 440px - 520px */
            height: clamp(27.5rem, 40vw, 32.5rem);
            /* 16px - 20px */
            margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
            flex: none;
        }

        .cs-content {
            width: 45%;
        }
    }
}
                                
                                



            


/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-560 {
        padding: var(--sectionPadding);
        background-color: var(--primaryLight);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--headerColor);
            margin-bottom: calc(4 / 16 * 1rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(24 / 16 * 1rem);

            &:before {
                /* yellow line */
                content: "";
                width: calc(50 / 16 * 1rem);
                height: 2px;
                background: var(--primary);
                opacity: 1;
                display: block;
            }
        }

        .cs-quote {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-quote-mark{
            color: var(--primary);
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            color: var(--headerColor);
            display: block;
            
        }
    }
}

                                

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #gallery-377 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
        
        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
        
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }
        
        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(350 / 16 * 1rem);
            position: relative;
        }

        .cs-image {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 100%;
            /* clips the image corners */
            overflow: hidden;
            aspect-ratio: calc(328 / 300);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-hover-box {
            
            background-color: rgba(191, 133, 38, 0.35);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
            position: absolute;
            left: calc(16 / 16 * 1rem);
            right: calc(16 / 16 * 1rem);
            bottom: calc(16 / 16 * 1rem);
            z-index: 10;
            padding: 10px;
            border-radius: 10px;
        }

        .cs-icon {
            /* 40px - 72px */
            width: clamp(2.5rem, 9.4vw, 4.5rem);
            height: clamp(2.5rem, 9.4vw, 4.5rem);
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            /* pushes to the right */
            order: 1;

            img {
                /* 16px - 24px */
                width: clamp(1rem, 3vw, 1.5rem);
                height: auto;
            }
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: #fff;
        }
    }

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-377 {
        .cs-gallery {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-item {
            width: 48.5%;
            &:hover {
                .cs-hover-box {
                    opacity: 1;
                }
                .cs-icon, .cs-h3 {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .cs-hover-box {
            height: auto;
            opacity: 0;
            top: calc(24 / 16 * 1rem);
            right: calc(24 / 16 * 1rem);
            bottom: calc(24 / 16 * 1rem);
            left: calc(24 / 16 * 1rem);
            flex-direction: column;
            justify-content: center;
            /* prevents the mouse from interacting with it */
            pointer-events: none;
            transition: opacity .6s;
        }

        .cs-icon {
            opacity: 0;
            /* reset the order */
            order: initial;
            /* send it 10px up to animate from on hover */
            transform: translateY(-.625rem);
            transition: transform .6s, opacity .6s;
        }

        .cs-h3 {
            opacity: 0;
            /* send it 10px down to animate from on hover */
            transform: translateY(.625rem);
            transition: transform .6s, opacity .6s;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-377 {
        .cs-item {
            width: 23.7%;
        }
        .cs-hover-box {
            border-radius: 0px;
        }

        .cs-image {
            /* 300px - 400px */
            height: clamp(18.75rem, 30vw, 25rem);
            aspect-ratio: 1;
        }
    }
}
                                


